.container {
    margin-top: 30px
}

.dropdown-toggle {
    width: 100% !important;
    margin-bottom: 20px;
}

.dropdown-menu.show {
    width: 100%;
}

.call-us {
    border: 1px solid #e3e3e3;
    padding: 15px;
}

.phone-no {
    margin: 20px 0 0 0;
}

.chat-with-us {
    padding: 15px;
}

.resume-chat-msg.hide {
    display: none;
}

.new-chat.hide {
    display: none;
}

.resume-chat-msg .jumbotron {
    text-align: center;
}